<div id="light" class="white_content">
  <div class="alertStyle">Do you want to change your package?
    <br> Click "OK" to continue or "Cancel" to discard changes. </div>
  <div class="">
    <table class="pzero" style="width:100%;">
      <tr>

        <td class="dbutton50">
          <a class="buttonnew" (click)="changePackage(false)">Cancel</a>
        </td>
        <td class="dbutton50">
          <a class="buttonnew" (click)="changePackage(true)">OK</a>
        </td>

      </tr>
    </table>

  </div>

</div>
<div id="fade" class="black_overlay"></div>