.progress-bar {
  font-size: 12px;
  width:100%;
  min-height:35px;
  background-image: none;
  background-color: #48AAE2;
  box-shadow: none;
  box-sizing: border-box;
  transition: width .6s ease;
  filter: none;
}

.compare-text {
  font-size: 1.3em;
  color: rgba(51, 51, 51, 0.8);
  text-align: left;
}

.tc-chart-js-legend{
  list-style-type: none;
  padding-left: 0px;
  display: -webkit-inline-box;
  float: right;
}


.tc-chart-js-legend li {
  clear: both;
  padding: 10px;
}

.tc-chart-js-legend li span {
  width: 25px;
  height: 25px;
  display: block;
  float: left;
  margin-right: 10px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}
