<!--div class="w-section cp-button-section" data-ix="display-cp-footer">


  <div class="w-container container-step">
    <div>
      <div class="">

        <div class="content-header-step step-margin">Fill in the number of rooms</div>

        <div class="w-col w-col-12 w-col-stack ">
          <ul class="step-ul">
            <li> <a href="setup-room.html">              
                <span class="round-tab-green" id="btnStep1">1</span></a>
              <div class="step-divider-green"></div>
            </li>

            <li> <a href="setup-device.html">               
                <span class="round-tab-gray" id="btnStep1">2</span></a>
              <div class="step-divider-gray"></div>
            </li>
          </ul>
        </div>

        <div class="w-col w-col-12 w-col-stack ">

          <ul class="w-list-unstyled">
            <li class="w-clearfix cp-control" data-ix="bed3-hover">
              <div class="control-indicator">&nbsp;</div>

              <div class="control-text-step">
                <p>Number of Bedrooms</p>
              </div>
              <div class="step-switch" data-ix="bed3-toggle"> <input type="text" class="input-style-s" placeholder="0">
              </div>

            </li>
            <li class="w-clearfix cp-control" data-ix="living-hover">
              <div class="control-indicator">&nbsp;</div>

              <div class="control-text-step">
                <p>Number of Living Rooms</p>
              </div>
              <div class="step-switch" data-ix="living-toggle"><input type="text" class="input-style-s" placeholder="0">
              </div>

            </li>
            <li class="w-clearfix cp-control" id="mainbed-switch" data-ix="mainbed-hover">
              <div class="control-indicator">&nbsp;</div>

              <div class="control-text-step">
                <p>Number of Kitchens</p>
              </div>
              <div class="step-switch" data-ix="mainbed-toggle"><input type="text" class="input-style-s" placeholder="0">
              </div>

            </li>
            <li class="w-clearfix cp-control" id="mainbed-switch" data-ix="mainbed-hover">
              <div class="control-indicator">&nbsp;</div>

              <div class="control-text-step">
                <p>Number of Bathrooms</p>
              </div>
              <div class="step-switch" data-ix="mainbed-toggle"><input type="text" class="input-style-s" placeholder="0">
              </div>

            </li>
            <li class="w-clearfix cp-control" id="mainbed-switch" data-ix="mainbed-hover">
              <div class="control-indicator-other">&nbsp;</div>

              <div class="control-text-step">
                <p class="text-step-other">Add another room</p>
              </div>
              <div class="step-switch" data-ix="mainbed-toggle"><input type="text" class="input-style-s" placeholder="0">
              </div>

            </li>
          </ul>

          <div class="w-col w-col-3 w-col-stack ">
          </div>

          <div class="w-col w-col-6 w-col-stack ">
            <div class="buttondiv">
              <a class="buttonnew" routerLink="/addDevice">Next</a>
            </div>
          </div>


        </div>


      </div>
    </div>
  </div>
</div-->
<div class="w-section eb-hero-xs hero-section" data-ix="display-nav">
  <div class="w-container container">
    <div class="hero-div-block">

    </div>
  </div>
</div>




<br> <br>
  <section class="w-container container-step">
      <div class="">
                
        <div class="w-row cp-floorplan-row">

          <div class="content-header-step w-col w-col-12 w-col-stack">Floor Plan</div>  
          <div class="content-step step-margin w-col w-col-12 w-col-stack"> <br> Choose Floor Plan type by selecting one od the options below.</div> 
<br>
          <div class="w-col w-col-4 w-col-stack ">
          <div class="content-header-step">Semi-detached Floor Plan</div>  
            <div class="floorplan-wrapper-step">
              <div class="floorplan"><img class="" src="./assets/images/Semi-detached-floor-plan.png" >
              <!--div class="edit-floor-right">
              Edit Floor Plan&nbsp;&nbsp;<a href="edit-room.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></br></br></a>
              </div-->
              </div>
            </div>
          </div>

          <div class="w-col w-col-4 w-col-stack ">
          <div class="content-header-step">2 Bedroom Apartment</div>  
            <div class="floorplan-wrapper-step">
              <div class="floorplan"><img class="" src="./assets/images/2-bedroon-apartment.png" >
              <!--div class="edit-floor-right">
              Edit Floor Plan&nbsp;&nbsp;<a href="edit-room.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></br></br></a>
              </div-->
              </div>
            </div>
          </div>

          <div class="w-col w-col-4 w-col-stack ">
          <div class="content-header-step">Sample Type 03</div>  

            <div class="floorplan-wrapper-step">
              <div class="floorplan"><img class="" src="./assets/images/Semi-detached-floor-plan.png" >
              <!--div class="edit-floor-right">
              Edit Floor Plan&nbsp;&nbsp;<a href="edit-room.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></br></br></a>
              </div-->
              </div>
            </div>
          </div>



        </div>
      </div>
  </section>





  <section class="w-container container-step">


          <div class="w-col w-col-12 w-col-stack ">  
            <ul class="step-ul">
                <li>              
            <div class="buttondiv">            
            <a class="buttonnew" href="">Cancel</a>
            </div></li>

                <li>              
            <div class="buttondiv">
            <a class="buttonnew" routerLink="/addDevice">Next</a>
            </div></li>
            </ul>
          </div>


  </section>