

<<div class="w-section cp-button-section-confirm" data-ix="display-cp-footer">


  <div class="w-container container-step">
    <div>
      <div class="">

        <div class="content-header-step">Confirmation</div>
        <div class="content-step step-margin"> <br> Kindly confirm the number of rooms and devices</div>



        <div class="w-col w-col-12 w-col-stack ">
          <ul class="step-ul">
            <li> <a href="setup-room.html">            
                <span class="round-tab-gray" id="btnStep1">1</span> </a>
              <div class="step-divider-gray"></div>
            </li>

            <li> <a href="setup-device.html">                
                <span class="round-tab-gray" id="btnStep1">2</span> </a>
              <div class="step-divider-gray"></div>
            </li>
          </ul>
        </div>





        <!--div class="w-section" >
            <div class="w-container container-step">   

              <div>
                <div class="w-row cp-button-row-step">
                  
                  <div class="w-col w-col-3 w-col-small-3 cp-button-wrapper">
                    <a class="w-clearfix w-inline-block cp-button" href="#control-AC" data-ix="show-ac-control">
                      <div class="button control-panel"><img class="cp-icon" src="images/aircon icon.svg" width="100%" alt="552e288ddd570aca7d672933_aircon%20icon.svg">
                      </div>
                      <div class="cp-name-step">Air-Con</div>

          
                    </a>
                  </div>
                  
                  <div class="w-col w-col-3 w-col-small-3 cp-button-wrapper">
                    <a class="w-clearfix w-inline-block cp-button" href="#control-water-heater" data-ix="show-water-heater-control">
                      <div class="button control-panel"><img class="cp-icon" src="images/water heater icon.svg" width="100%" alt="552e28a4b7486858729462a3_water%20heater%20icon.svg">
                      </div>
                      <div class="cp-name-step">Water Heater</div>


                    </a>
                  </div>
                  
                  <div class="w-col w-col-3 w-col-small-3 cp-button-wrapper">
                    <a class="w-clearfix w-inline-block cp-button" href="#control-lighting" data-ix="show-lighting-control">
                      <div class="button control-panel"><img class="cp-icon" src="images/lighting icon.svg" width="100%" alt="552e28f7dd570aca7d672942_lighting%20icon.svg">
                      </div>
                      <div class="cp-name-step">Lighting</div>


                    </a>
                  </div>
                  
                  <div class="w-col w-col-3 w-col-small-3 cp-button-wrapper">
                    <a class="w-clearfix w-inline-block cp-button" href="#control-Appliances" data-ix="show-appliances-control">
                      <div class="button control-panel"><img class="cp-icon" src="images/appliances icon.svg" width="100%" alt="552e29028f4602c87dfc8f17_appliances%20icon.svg">
                      </div>
                      <div class="cp-name-step">Appliances</div>


                    </a>
                  </div>

                </div>     
              </div>

            </div>


            <br>
           <div class="w-col w-col-12 w-col-stack ">  
              <div class="step-line-gray"></div>
           </div>
          
          </div-->


      </div>
    </div>
  </div>
</div>



<section class="w-container container-step">
  <div class="">
    <div class="content-header-step">Floor Plan</div>
    <div class="w-row cp-floorplan-row">
      <div class="w-col w-col-12 w-col-stack ">
        <div class="floorplan-wrapper-step">
          <div class="floorplan"><img class="img-middle" src="images/map01.png">
            <div class="edit-floor-right">
              Edit Floor Plan<a href="edit-room.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></a>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</section>

<section class="w-container container-step">

  <div class="w-row ">
    <div class="w-col w-col-4 w-col-stack ">


      <table border="0">
        <tr>
          <td>
            <div class="content-header-step">Bedroom 01</div>
          </td>
          <td>
            <div class="edit-floor-right">
              Edit Devices<a href="edit-device.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></a>
            </div>
          </td>
        </tr>
      </table>

      <ul class="w-list-unstyled cp-floorplan-row">

        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Air Conditioner 01</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">2.80 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>

        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Lighting 01</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">0.80 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>


        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Device ABC</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">2.20 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>

      </ul>
    </div>




    <div class="w-col w-col-4 w-col-stack ">

      <table border="0">
        <tr>
          <td>
            <div class="content-header-step">Bedroom 02</div>
          </td>
          <td>
            <div class="edit-floor-right">
              Edit Devices<a href="edit-device.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></a>
            </div>
          </td>
        </tr>
      </table>
      <ul class="w-list-unstyled cp-floorplan-row">

        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Air Conditioner 02</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">2.80 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>

        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Lighting 02</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">0.80 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>


        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Device XYZ</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">2.20 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>

      </ul>
    </div>



    <div class="w-col w-col-4 w-col-stack ">

      <table border="0">
        <tr>
          <td>
            <div class="content-header-step">Kitchen</div>
          </td>
          <td>
            <div class="edit-floor-right">
              Edit Devices<a href="edit-device.html"><img class="" src="images/icon-edit.png" height="25px" width="25px"></a>
            </div>
          </td>
        </tr>
      </table>
      <ul class="w-list-unstyled cp-floorplan-row">

        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Air Conditioner 03</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">2.80 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>

        <li class="w-clearfix cp-control2" data-ix="living-hover">
          <div class="control-indicator2"></div>

          <table border="0">
            <tr>
              <td>
                <div class="control-text-step2">
                  <p>Lighting 03</p>
                </div>
              </td>
              <td><img class="image-right" src="images/icon-edit.png" height="25px" width="25px"></td>
            </tr>
            <tr>
              <td>
                <div class="text-step2">
                  <p class="text-li">0.80 kW</p>
                </div>
              </td>
              <td> <img class="image-right" src="images/icon-del.png" height="25px" width="25px"></td>
            </tr>
          </table>

        </li>



      </ul>
    </div>

  </div>


</section>


<section class="w-container container-step">

  <!--div class="w-col w-col-6 w-col-stack ">
            <div class="buttondiv">
            <a class="buttonnew" href="">Previous</a>
            </div>
          </div>
          <div class="w-col w-col-6 w-col-stack ">
            <div class="buttondiv">
            <a class="buttonnew" href="">Next</a>
            </div>
          </div-->

  <div class="w-col w-col-12 w-col-stack ">
    <ul class="step-ul">
      <li>
        <div class="buttondiv">
          <a class="buttonnew" routerLink="/addDevice">Previous</a>
        </div>
      </li>

      <li>
        <div class="buttondiv">
          <a class="buttonnew" routerLink="/mainPanel">Confirm</a>
        </div>
      </li>
    </ul>
  </div>


</section>